.MenuTweetModal {
  background-color: rgb(230, 225, 225);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  position: fixed;
  bottom: 0;
  height: 15vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
