.tweetItem {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.186);
  padding: 10px 10px;
}

.tweetItem p {
  margin: 5px 0;
  width: 100%;
  display: block;
  word-break: break-all;
}

.tweetItem__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweetItem__userId {
  font-size: 18px;
  text-decoration: none;
  color: black !important;
}

.communityContainer {
  display: flex;
  justify-content: space-around;
}

.heartIcon {
  height: 60px;
  width: 60px;
  background: url("../../images/likeImg.png");
  background-position: left;
  background-size: 1740px;
  cursor: pointer;
  position: absolute;
}

.rtButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rtBg {
  background-color: rgb(255, 192, 200, 0);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rtBg:hover {
  background: rgba(29, 248, 39, 0.395);
  transition: 0.5s;
}

.rtIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
}

.rtAmount {
  font-size: 16px;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
}

.rtAmountIsRted {
  color: #00ba7c;
  font-weight: 900;
  font-size: 16px;
  margin-left: 6px;
}

.tweetLiked {
  animation: likeAnim 0.7s steps(28) forwards;
}

.tweetAlreadyLiked {
  background-position: right;
}

@keyframes likeAnim {
  to {
    background-position: right;
  }
}

.likesButton .heartBg {
  background-color: rgb(255, 192, 200, 0);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.likesButton .heartBg:hover {
  background: rgba(255, 192, 200, 0.7);
  transition: 0.5s;
}

.likesButton {
  display: flex;
  align-items: center;
}

.likesAmount {
  font-size: 16px;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
}

.likesAmountIsLiked {
  color: #e2264d;
  font-weight: 900;
  font-size: 16px;
  margin-left: 6px;
}
