.tweetItem {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.5px 1.5px 2px;
  padding: 10px 10px;
}

.tweetItem p {
  margin: 5px 0;
}

.tweetItem__header {
  display: flex;
  align-items: center;
}

.tweetItem__userName {
  font-size: 18px;
  font-weight: 1000;
}

.tweetItem__userId {
  font-size: 16px;
  margin-left: 10px;
}

.tweetLiked {
  background-color: red;
  color: purple;
}

.communityContainer {
  display: flex;
  justify-content: space-around;
}
