.mobileNavContainer {
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 3px;
  z-index: 20;
}

.mobileNavContainer ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  color: black;
}
.logoLi {
  display: none;
}

.mobileNavContainer li {
  list-style-type: none;
}

.mobileNavContainer a {
  text-decoration: none;
  padding: 10px;
}

.nav_link {
  border: 1px solid transparent;
  color: #292929;
}

.activeNavLink {
  color: white;
  background-color: blue;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.twitterLogo {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobileNavContainer {
    position: fixed;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.2) 1.95px 0px 3px;
    width: 30vw;
  }

  .logoLi {
    display: block;
  }

  .mobileNavContainer ul {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 50px;
  }

  .newTweetLink {
    padding: 25px;
    background-color: #292929;
    color: white;
    border-radius: 10px;
  }

  .twitterLogo {
    display: block;
    width: 75px;
  }
}
